
html{
    background-color: #CEF1E0;
    scroll-behavior:smooth;
}
P{
    font-family: 'Work Sans',sans-serif;
    color:white;
    text-shadow: 1px 1px black;

}

a{
    color: black;
}

/* Navigation */
.navBar{
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;   
    background-color: #3F7856;

}
.header-logo{
    height: 100px;
    margin-left: 24px;
    border-radius: 50%;
    transition: all 2.0s;
    
}

.header-logo:hover{
   
    transform: rotate(360deg);
    transition: all 2.0s;
}
.navLinks{
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    margin-left: auto;
    margin-right: 12px;
}

li{
    text-decoration: none;
    display: block;
    font-family: 'Work Sans', sans-serif;
    -webkit-text-stroke-color:1px white;
    font-size: 20px;
    padding: 16px;
    font-style: italic;
}

li:hover{
   
    cursor: pointer;
    
    text-shadow: 2px 2px 1px white;
}

/* Title Section*/

.titleSection{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid black 1px;
    background-image: linear-gradient(60 deg, rgba(57,60,90,0.85),rgba(180,180,120,0.5));
    /*add background image here */
    background-position: center;
    background-size: cover;
}
.mediaBox{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000%;
    margin: 128px 72px 72px;
    gap: 24px;
    padding: 32px;
    border: 3px #A3D2D5;
    border-radius: 200px;
    box-shadow: 2px 2px 20px 2px;
    background:#6AA5A9;
}
.textBox{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: flex-start;
    gap: 20px;
    padding-left: 32px;
}
.textBox h1{
    color:white;
    text-shadow: 1px 1px black;
}
.mainImg{
    object-fit: cover;
    flex: 1 1 auto;
    max-width: 300px;
    border-radius: 50%;

    
}

.ClickMe{
    font-weight: 900px;
    padding: 4px 24px;
    border-radius: 4px;
    background-color: #7EC384;
    align-self: center;
}
/* Fix Button */

.ClickMe:hover{
    cursor: pointer;
    background-color: #3F7856;
    box-shadow: 1px 1px #3F7856;
}

/* Team info*/

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    text-shadow: 1px 1px black;
    font-weight: bold;

   
}
.worker-container{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 0px 24px 96px 24px;
    border-bottom: solid black 1px;
}

.worker{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 8px;
    padding: 24px;
    color: white;
    text-shadow: 2px 2px 3px black;

}
.worker-icon{
    width: 200px;
    height: 200px;
    border: 12px solid #7EC384;
    border-radius: 32px;
    box-shadow: 2px 2px 3px black;
    object-fit: cover;

}
.worker-text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    flex-wrap: wrap;
    max-width: 200px;
    font-size: 18px;
    font-weight: bold;
}


/* Portfolio*/

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bold;
    font-size: 30px;
    
}



.portfolioContainer{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 0px 24px 96px 24px;
}
.portfolio-tile{
    color:white;
    text-shadow: 1px  black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    padding: 24px;
    width: 300px;
}

.portfolio-icon{
    width: 200px;
    height: 200px;
    background-color: white;
    border: 12px solid #7EC384;
    border-radius: 32px;
    box-shadow: 2px 2px 3px black;
    object-fit: cover;
}

.portfolio-icon:hover{
    border:12px rgb(255,232,214);
    border-radius: 32px;
    box-shadow: 2px 2px 10px black;
}

.portfolio-text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    flex-wrap: wrap;
    max-width: 150px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px black;
    padding-top: 10px;
    padding-bottom: 20px;
}

.quote-section{
    text-align: start;
  font-style: normal;
  font-weight: 600;
  color: white;
}

.quote-section{
    display: flex;
    flex-direction: column;
    padding: 100px 200px 50px;
    background-color: #45625D;
    border-bottom: solid black 1px;
    font-size: 24px;
    line-height: 150%;
    font-style: italic;
}
.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #3F7856;
    
}

.contact-info-container{
    margin-bottom: 36px;
}

.contact-info-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
    font-size: 20px;

}
.contact-icon{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: 3px solid #6AA5A9;
}


















